:root {
  --primary-color: #f0f0f0;
  --secondary-color: #c0c0c0;
  --accent-color: #ff0000;
  }

.container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(80vw, 1fr));
  grid-template-rows: auto;
  grid-gap: 10px;
  max-width: 800px;
  margin: 0 auto;
  padding: 10px;
  justify-content: center;
  align-items: center;
  grid-auto-flow: dense;
  /* border: solid red; */
}

.title{
  text-align: center;
  border: 1px solid var(--secondary-color);
  border-radius: 10px;
}

.options {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: auto;
  grid-gap: 10px;
  grid-row-start: 2;
}

.option {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 1px solid var(--secondary-color);
  border-radius: 10px;
  padding: 10px;
}

.option label {
  font-weight: bold;
}

.option select {
  margin: 10px;

}

.option button {
  background-color: var(--accent-color);
  color: white;
  border: none;
  border-radius: 5px;
  padding: 5px;
}

.option button:disabled {
  background-color: gray;
  color: white;
  cursor: not-allowed;
}

.option select option {
  text-align: center;
}

.items {
  display: grid;
  grid-template-columns: repeat(1, minmax(300px,1fr));
  grid-template-rows: auto;
  grid-gap:10px;
  grid-row-start: 3;
}

.item {
  display:flex;
  align-items:center;
  justify-content:space-between;
  border:1px solid var(--secondary-color);
  border-radius:10px;
  padding:5px 10px;
}

.buttons-item {
  display: flex;
  align-items: center;
  justify-content: center;
}

.item button {
  background-color: var(--accent-color);
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px;
  margin: 0 5px;
}

.total {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  grid-row-start: 4;
  }

  .buttons {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: auto;
  grid-gap: 10px;
  grid-row-start: 6;
  }

.buttons button {
  margin-top:10px;
  border-radius: 20px;
  padding: 10px 20px;
}

.nome {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  grid-row-start: 5;
}

.nome input{
  padding: 5px;
  border-radius: 20px;
  text-align: center;
}

@media (max-width: 479px) {
  .option {
    max-width: 100%;
  }

  .option select {
    max-width: 90px;
  }

  .container{
    max-width: 100vw;
    overflow: hidden;
  }

  .items{
    max-width: 100%;
  }

  .item{
    max-width: 100%;
  }

  .item p{
    font-size: 15px;
  }
}
